@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans 3", sans-serif;
}

.kalp-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.kalp-modal {
  max-width: 979px;
  width: 100%;
  height: 522px;
  display: flex;
  flex-direction: column;
  border-radius: 23.029px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.kalp-modal-header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.kalp-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: #000;
  border: none;
  background: transparent;
}

.kalp-close-btn:hover {
  color: red;
  background: transparent;
}

.kalp-modal-body {
  display: flex;
  width: 100%;
  height: 100%;
}

.kalp-modal-body .left-section {
  flex: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kalp-modal-body .left-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.kalp-modal-body .left-section p {
  margin-bottom: 20px;
}

.kalp-modal-body .right-section {
  flex: 2;
  position: relative;
  padding: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.kalp-modal-body .right-section h2 {
  color: var(--Neutral-Grey-75, #191919);
  font-family: "Source Sans 3";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 49.4px */
  text-transform: capitalize;
  padding: 10px 0;
}

.kalp-modal-body .right-section p {
  color: var(--Information-Subtle-text, #404040);
  font-family: "Source Sans 3";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 28.6px */
  text-transform: capitalize;
  margin-bottom: 5px;
}

.kalp-modal-body .right-section label {
  display: block;
  margin-top: 5px;
  color: var(--KS_grey1, #191919);
  font-family: "Source Sans 3";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 20.8px */
  text-transform: capitalize;
  margin-bottom: 10px;
}

.kalp-modal-body .right-section input {
  width: 100%;
  padding: 10px;
}

.kalp-modal-body .right-section .phone-input-wrapper {
  display: flex;
  align-items: center;
}

.kalp-modal-body .right-section .phone-input-wrapper input {
  margin-right: 10px;
}

.kalp-modal-body .right-section .submit-button:hover {
  background: #333;
}

.kalp-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  height: 100%;
  justify-content: space-evenly;
}

.kalp-modal-body .right-section .form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.kalp-modal-body .right-section .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.kalp-modal-body .right-section input[type="text"],
.kalp-modal-body .right-section input[type="email"] {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--KS_Grey3, #d1d4d6);
  background: #fff;
  padding: 18px 20px;
  font-size: 16px;
}
.phone-input-wrapper select {
  width: 85px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 5px;
  gap: 10px;
  border: none;
}

.phone-input-wrapper input {
  border: none !important;
  padding: 18px 5px;
  font-size: 20px;
  padding: 0 !important;
}

.phone-input-wrapper select:focus-visible,
.phone-input-wrapper input {
  box-shadow: none;
  outline: none;
  border: none;
}

.phone-input-wrapper {
  border-radius: 10px;
  border: 1px solid var(--KS_Grey3, #d1d4d6);
  background: #fff;
  display: flex;
  gap: 10px;
}

.submit-button {
  margin-top: 10px;
  display: flex;
  max-width: 227px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--KS_Black, #000);
  color: #fff;
  font-family: "Source Sans 3";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
}

.email-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.left-section img {
  width: 100%;
  height: 100%;
}
.first-image {
  display: block;
}
.second-image {
  display: none;
}
.close-svg2 {
  display: none;
}
.close-svg1 {
  display: block;
}
@media only screen and (max-width: 768px) {
  .kalp-modal {
    margin: 0 20px;
    height: auto;
  }

  .kalp-modal-body {
    flex-direction: column;
  }
  .second-image {
    display: block;
  }
  .first-image {
    display: none;
  }
  .left-section img {
    width: 100%;
    height: auto;
  }
  .kalp-modal-body .left-section {
    /* height: 142px !important; */
    flex: unset;
    overflow: hidden;
  }

  .kalp-modal-body .right-section {
    flex: 60%;
  }

  .kalp-modal-body .right-section h2 {
    font-size: 24px !important;
    padding: 0 !important;
    padding-bottom: 10px !important;
  }
  .kalp-modal-body .right-section h2 br {
    display: contents;
  }
  .kalp-close-btn {
    top: 10px;
    right: 10px;
  }
  .close-svg1 {
    display: none;
  }
  .close-svg2 {
    display: block;
  }

  .kalp-modal-body .right-section .form-row {
    flex-direction: column;
  }
  .kalp-modal-body .right-section input[type="email"],
  .phone-input-wrapper {
    border-radius: 10px;
    border: 1px solid var(--KS_Grey3, #d1d4d6);
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  }
  .kalp-form-container {
    gap: 30px;
  }
  .submit-button {
    width: 100%;
    max-width: unset;
  }
  .right-section {
    padding: 25px !important;
  }
}
